/DungeonAndDragonCore/nbproject/private/
/org.sizzle.dd.core/nbproject/private/
/rpg.core/build/
/org.sizzle.dd.core/build/
/org.sizzle.rpg.core/nbproject/private/
/org.sizzle.rpg.core/build/
/org.sizzle.dd.core.ui/build/
/org.sizzle.dd.core.ui/nbproject/private/
/org.sizzle.dd.phb/nbproject/private/
/build/
/nbproject/private/
/org.sizzle.dd.phb/build/
/org.sizzle.rpg.characterproject/build/